<div id="<%= dom_id question %>">
  <p>
    <strong>Date:</strong>
    <%= question.date %>
  </p>

  <p>
    <strong>Expression:</strong>
    <%= question.expression %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= question.value %>
  </p>

</div>
