.number_boxes {
  padding: 1em 1em 0 1em;
}

.operators {
  padding: 1em;
}

.description {
  padding: 1em;
}

.lexp {
  padding: 0.5em;
  margin: 0.5em;
  border: 2px dotted slateblue;
}

.lexp > p {
  padding: 1em;
  margin: 0;
}

.rexp {
  display: flex;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px dotted orangered;
}

.bs {
  margin-left: 3em;
}

.result {
  padding: 0.5em;
  margin: 0.5em;
  width: 50%;
  border: 2px solid slateblue;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

@keyframes rumble {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 2px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0, 0);
  }
  75% {
    transform: translate(0, -2px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0);
  }
}

.shake {
  animation: rumble 0.1s linear infinite;
  animation-iteration-count: 6;
}

#value {
  color: gray;
}
