<div data-controller="stopwatch" id="complete">
  <div class="visible flex justify-center" data-stopwatch-target="complete">
    正解です！
    <%=@time%>
    <%= link_to "ランキングへ", ranking_q_path, lexp: @lexp %>
  </div>
</div>
