<div data-controller="stopwatch" id="failure">
  <div class="shake flex justify-center" data-stopwatch-target="failure">
    残念！ あなたの答えは<%=@value%>でした！<br/>
    <%= link_to "同じ問題でもう一度！", retry_q_path, method: :get, class: "underline text-blue-600" %>
  </div>
</div>