    <div class="operators" id="operators">
      <% %w(＋ － × ÷).each_with_index do |op, i| %>
      <%= button_tag op, name: 'clicked', value: i + 8, disabled: @disabled[i + 8] %>
      <% end %>
    <%= button_tag "◀", name: "clicked", value: 100, class: "bs", disabled: @disabled[12] %>
    </div>